@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@100;400;500;700;900&display=swap");

body {
  font-family: "Roboto", "sans-serif";
}

.chat-box {
  margin: 0 auto;
  width: 600px;
  max-width: 100%;
  background-color: white;
  border-radius: 8px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  overflow: hidden;
  height: 90%;
}

.chat-box-header {
  background-color: #0084ff;
  color: white;
  padding: 16px;
  font-size: 20px;
  font-weight: bold;
  border-top-left-radius: 8px;
  border-top-right-radius: 8px;
}

.chat-box-body {
  padding: 16px;
  overflow-y: auto;
  height: calc(100% -200px);
  max-height: calc(100vh - 200px);
}

.chat-box-body .message,
.chat-box-body .response {
  margin-bottom: 16px;
  padding: 8px 16px;
  border-radius: 8px;
}

.chat-box-body .message {
  background-color: #f1f0f0;
  color: #333;
}

.chat-box-body .response {
  background-color: #0084ff;
  color: white;
  text-align: right;
}

.chat-box-footer {
  bottom: 0;
  display: flex;
  align-items: center;
  background-color: white;
  border-top: 1px solid #e6e6e6;
  padding: 8px 16px;
}

.chat-box-footer input[type="text"] {
  flex: 1;
  padding: 8px;
  border: 1px solid #e6e6e6;
  border-radius: 8px;
  font-size: 16px;
  outline: none;
}

.chat-box-footer button {
  margin-left: 8px;
  padding: 8px 16px;
  background-color: #0084ff;
  color: white;
  font-size: 16px;
  font-weight: bold;
  border: none;
  border-radius: 8px;
  cursor: pointer;
}

.chat-box-footer button:hover {
  background-color: #0073e6;
}

.chat-box-footer button:active {
  background-color: #005bbf;
}
